# Default ignored files
/../../../:practos_3_vue/.idea/shelf/
/../../../:practos_3_vue/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:practos_3_vue/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:practos_3_vue/.idea/dataSources/
/../../../:practos_3_vue/.idea/dataSources.local.xml
